<form id="paypalForm" name="orderForm" ng-submit="setOrder($event)" action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <h1>Shopping Cart</h1>

                <div ng-if="alert" class="alert alert-{{alert.type}}">
                    {{alert.msg}}
                </div>

                <div ng-if="!cart.length && alert.type != 'success'" class="alert alert-info">
                    No products in shopping cart.
                </div>

                <div ng-if="cart.length">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Summary
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart">
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.price | number:2}} $
                                </td>
                                <td>
                                    <div class="form-group" ng-class="{'has-error' : orderForm.input{{$index}}.$error.required || orderForm.input{{$index}}.$error.number || orderForm.input{{$index}}.$error.min || orderForm.input{{$index}}.$error.max}">
                                        <input name="input{{$index}}" class="form-control" style="width: 80px" type="number" ng-model="item.amount" min="1" max="20" required>
                                    </div>
                                    <span class="text-danger" ng-show="orderForm.input{{$index}}.$error.required">Insert amount</span>
                                    <span class="text-danger" ng-show="orderForm.input{{$index}}.$error.number">Amount in numbers</span>
                                    <span class="text-danger" ng-show="orderForm.input{{$index}}.$error.max">Not enough amount in magazine</span>
                                    <span class="text-danger" ng-show="orderForm.input{{$index}}.$error.min">Must be a positive number</span>
                                </td>
                                <td>
                                    <strong>{{item.amount * item.price | number:2}} $</strong>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" ng-click="removeItem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    <strong>Total: {{total() | number:2}} $</strong>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="upload" value="1">
                    <input type="hidden" name="charset" value="utf-8">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="business" value="khamian@gmail.com">

                    <div ng-repeat="item in cart">
                        <input type="hidden" name="item_name_{{$index+1}}" value="{{item.name}}">
                        <input type="hidden" name="quantity_{{$index+1}}" value="{{item.amount}}">
                        <input type="hidden" name="amount_{{$index+1}}" value="{{item.price}}">
                    </div>

                    <button ng-click="emptyCart()" class="btn btn-danger">Empty Cart</button>
                    <button ng-disabled="!orderForm.$valid" type="submit" value="PayPal" class="btn btn-success pull-right">Pay for order</button>

                </div>

            </div>

        </div>

    </div>

</form>