<div class="container">

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">

                <div class="panel-body">

                    <h2>{{product.name}}</h2>
                    <p>{{product.description}}</p>
                    <h3><span class="label label-warning">{{product.price | number:2 }}$</span></h3>

                    <div ng-repeat="image in images" class="pull-left" style="position:relative;">

                        <img ng-src="uploads/{{product.id}}/{{image}}" alt="{{image}}" class="pull-left img-thumbnail" style="width: 150px;margin:5px;">

                    </div>

                    <div class="clearfix"></div>

                    <br>

                    <button ng-click="addToCart(product); checkCart(product)" class="btn btn-success" ng-if="!product.amount">Add to Shopping Cart</button>
                    <button ng-click="addToCart(product); checkCart(product)" class="btn btn-success" ng-if="product.amount">In cart: {{product.amount}}</button>

                </div>

            </div>

            <hr>

            <a href="#/products" class="btn btn-default">Return</a>

        </div>

    </div>

</div>