<div class="container">

    <div class="row">

        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="Search products..." ng-model="search">
            <br>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default" ng-repeat="product in products | filter : search">

                <div class="panel-body" ng-init="checkCart(product)">

                    <h2><a href="#/product/{{product.id}}">{{product.name}}</a></h2>
                    <h3><span class="label label-warning">{{product.price | number:2}} $</span></h3>
                    <br>
                    <img src="uploads/{{product.id}}/{{product.thumbnail}}" alt="Image Thumbnail" class="img-thumbnail" style="max-width: 300px;">
                    <a href="#/product/{{product.id}}" class="btn btn-info">Details</a>
                    <button ng-click="addToCart(product); checkCart(product)" class="btn btn-success" ng-if="!product.amount">Add to Shopping Cart</button>
                    <button ng-click="addToCart(product); checkCart(product)" class="btn btn-success" ng-if="product.amount">In cart: {{product.amount}}</button>

                </div>

            </div>

        </div>

    </div>

</div>