<div class="modal-header">

    <h3>Add new promotion</h3>

</div>

<form name="form.userForm" ng-submit="submitForm(promotion)">

    <div class="modal-body">

        <input class="btn btn-default" type="file" nv-file-select="" uploader="uploader" /><br/>

        <div ng-repeat="item in uploader.queue">

            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

            <div ng-show="uploader.isHTML5" class="progress" style="margin-bottom: 0;">

                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>

            </div>

                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>

            <div class="btn-group">

                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>

            </div>

        </div>


        <div class="form-group">

            <label for="position">Position index (1-10):</label>
            <input id="position" name="position" type="number" class="form-control" ng-model="promotion.position" min="1" max="10" required>
            <p ng-show="form.userForm.position.$error.min" class="help-block">Must be a positive number.</p>
            <p ng-show="form.userForm.position.$error.max" class="help-block">Maximum 10 promotions.</p>

        </div>

        <div class="form-group">

            <label for="link">Link:</label>
            <input id="link" name="url" type="url" class="form-control" ng-model="promotion.link" required>
            <p ng-show="form.userForm.url.$error.url" class="error" class="help-block">Not valid url!</p>

        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid || promotion.src === undefined">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

</form>