<div class="container">

  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="Search..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6">
      <a href="#/product/create" class="btn btn-success pull-right">Add product</a>
    </div>

  </div>

  <div ng-controller="products">

    <div class="alert alert-info" ng-repeat="product in products | filter : search">
      <span class="text-capitalize">{{product.nazwa}}</span>
      <br>
      {{product.name}}
      <br>
      {{product.description}}
      <br>
      {{product.price | number:2}} $
      <br><br>
      <a href="#/product/edit/{{$index}}" class="btn btn-default">Edit product</a>
      <button ng-click="deleteProduct(product, $index)" class="btn btn-danger pull-right">Delete product</button>
    </div>

  </div>

</div>