<form ng-submit="createCategory(category)">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">

                    <label for="name">Category name:</label>
                    <input id="name" type="text" class="form-control" ng-model="category.name">

                </div>

                <div class="form-group">

                    <label for="products">Products:</label>
                    <br>

                    <select id="products" class="select2 select2-multiple" multiple="multiple" ng-options="option.name for option in products track by option.id" ng-model="category.products"></select>

                </div>

            </div>


        </div>

        <div class="row">

            <div class="col-sm-12">

                <hr>

                <button class="btn btn-primary" type="submit" ng-if="!success">Add category</button>
                <button class="btn btn-success" type="button" ng-if="success" disabled>Adding category...</button>
                <a href="#/admin/products" class="btn btn-default">Return</a>

            </div>

        </div>

    </div>

</form>