<div class="container">

    <div class="row">

        <ng-owl-carousel class="owl-theme" owl-items="items" owl-properties="owlProperties" owl-ready="ready($api)">

            <div class="item" data-ng-repeat="item in items">

                <a ng-href="{{ item.link }}">

                    <img ng-src="{{ item.src }}" ng-alt="{{ item.src }}">

                </a>

                <div class="btn-group">

                    <a class="btn btn-default" href="cart"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-blue" ng-click="showForm()"><span class="glyphicon glyphicon-upload"></span></button>
                    <button type="button" class="btn btn-gray" ng-click="removeItem($index);"><span class="glyphicon glyphicon-trash"></span></button>

                </div>

            </div>

        </ng-owl-carousel>

    </div><!-- ./row -->

</div><!-- ./container-->



