<header class="header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="brand-col hidden-xs">

                    <a href="./">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>

                </div><!-- /.brand-col -->

                <div class="left-col">

                    <nav class="nav navbar-nav navbar-right" role="navigation">

                        <div class="vcenter">

                            <ul>
                                <li>
                                    <a href="admin">Home</a>
                                </li>
                                <li>
                                    <a href="admin/categories">Categories</a>
                                </li>
                                <li>
                                    <a href="admin/products">Products</a>
                                </li>
                            </ul>

                        </div>

                    </nav>

                </div><!-- /.left-col -->

                <div class="right-col">

                    <nav class="nav navbar-nav navbar-right" role="navigation">

                        <div class="vcenter">

                            <ul>
                                <li>
                                    <a href="admin/orders">Orders</a>
                                </li>
                                <li>
                                    <a href="admin/users">Users</a>
                                </li>
                                <li>
                                    <a href="./" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                                </li>
                                <li class="active">
                                    <a href="products">
                                        <span class="glyphicon glyphicon-asterisk"></span>Admin
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </nav>

                </div><!-- /.right-col -->

            </div><!-- /.col-sm-12 -->

        </div><!-- /.row -->

    </div><!-- /.container -->

</header><!-- /.header -->

<nav class="nav-bottom">

    <div class="container">

        <div class="collapse navbar-collapse">

            <ul class="nav text-center case-c">
                <li ng-class="{ active : isActive('admin/products') }"><a href="admin/products">Wszystkie</a></li>
                <li on-finish-render="ngRepeatFinished" ng-class="{ active : isActive('admin/{{ category.slug }}') }" ng-repeat="category in categories" ng-if="$index > 0"><a href="admin/{{ category.slug }}">{{ category.name }}</a></li>
            </ul>

            <div class="navbar-btn-group btn-group navbar-right">

                <a class="btn btn-outline" data-toggle="dropdown"><b class="cart-count">{{ cart.length }}</b><span class="glyphicon glyphicon-shopping-cart"></span></a>

                <div class="mini-cart dropdown-menu" data-keep-open="true">

                    <section class="mini-cart__section">

                        <ul>

                            <li ng-if="!cart.length">No products in shopping cart.</li>

                            <li ng-repeat="item in cart track by $index">

                                <img ng-src="{{ item.thumbnail }}" alt="Image Thumbnail">

                                <div class="mini-cart__text">

                                    <span>{{ item.name }}</span>

                                    <span>{{ item.amount }} x {{ item.price | number:2 }} $</span>

                                    <div class="btn-group">
                                        <a class="btn btn-blue" href="cart"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <button type='button' class="btn btn-gray" ng-click="removeItem($index); $event.stopPropagation();"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>

                                </div>

                            </li>

                        </ul>

                    </section><!-- /.mini-cart__section -->

                    <section class="mini-cart__section">

                        <a href="cart" class="btn btn-block btn-blue">Go to shopping cart</a>

                    </section><!-- /.mini-cart__section -->

                </div><!-- /.mini-cart -->

            </div><!-- /.navbar-btn-group btn group navbar-right -->

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->

</nav>

