<div class="container">

  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="Search products..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6">
      <a href="#/admin/product/create" class="btn btn-success pull-right">Add product</a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <div class="panel panel-default" ng-repeat="product in products | filter : search">

        <div class="panel-body">

          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <h3><span class="label label-warning">{{product.price | number:2}} $</span></h3>
          <br>
          <img ng-src="{{product.thumbnail}}" alt="Image Thumbnail" class="img-thumbnail" style="max-width: 300px;">
          <br><br>
          <a href="#/admin/product/edit/{{product.id}}" class="btn btn-success">Edit product</a>
          <button ng-click="delete(product, $index)" class="btn btn-danger pull-right">Delete product</button>

        </div>

      </div>

    </div>

  </div>

</div>