<div class="container">

  <div class="row">

    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="Search products..." ng-model="search">
      <br>
    </div>

    <div class="col-xs-6">
      <a href="#/product/create" class="btn btn-success pull-right">Add product</a>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <div class="alert alert-info" ng-repeat="product in products | filter : search">
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <h3><span class="label label-warning">{{product.price | number:2}} $</span></h3>
        <br>
        <a href="#/admin/product/edit/{{$index}}" class="btn btn-default">Edit product</a>
        <button ng-click="delete(product, $index)" class="btn btn-danger pull-right">Delete product</button>
      </div>

    </div>

  </div>

</div>