<form ng-submit="createProduct(product)">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">

                    <label for="name">Product name:</label>
                    <input id="name" type="text" class="form-control" ng-model="product.name" required>

                </div>

                <div class="form-group">

                    <label for="category">Category:</label> <br>
                    <select name="category" id="category" ng-options="option.name for option in categories track by option.id" ng-model="product.category"></select>

                </div>

                <div class="form-group">

                    <label for="description">Product description:</label>
                    <textarea id="description" rows="3" class="form-control" ng-model="product.description" style="resize:vertical;"></textarea>

                </div>

                <div class="form-group">

                    <label for="price">Product price:</label>
                    <input id="price" type="text" class="form-control" ng-model="product.price" required>

                </div>

            </div>

            <div class="col-sm-6">

                <h2>{{ product.name }}</h2>
                <h5>{{ product.category.name }}</h5>
                <p>{{ product.description }}</p>
                <h3><span class="label label-warning">{{ product.price | number:2 }}$</span></h3>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <hr>

                <button class="btn btn-primary" type="submit" ng-if="!success">Add product</button>
                <button class="btn btn-success" type="button" ng-if="success" disabled>Adding product...</button>
                <a href="#/admin/products" class="btn btn-default">Return</a>

            </div>

        </div>

    </div>

</form>