/* BEGIN LATOUT */
*, *::before, *::after {
  box-sizing: border-box;
}

.page-wrapper {
  background-color: #FFF;
  width: 1230px;
  position: relative;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-top: 4px solid #131416;
}

.container {
  position: relative;
  padding: 0 30px;
  width: 1170px;
  margin: 0 auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
/* END LATOUT */