/* BEGIN TYPOGRAPHY */
strong {
	font-weight: 700;
}

p {
	margin-bottom: 0;
	line-height: 1.4;

	br {
		content: " ";
		line-height: 32px;
	}
}

.offscreen {
	left: -1000em;
	position: absolute;
}

.inline {
	display: inline;
}

.text-center {
	text-align: center;
}

.case-c {
	text-transform: capitalize;
}

.striked {
  color: #d0d0d0;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-bottom: 1px solid #d0d0d0;
  }
}
/* BEGIN TYPOGRAPHY */