.panel {
  border-radius: 0;
  border: 0;

  &-body {
    padding: 0 0 15px 0;
    text-align: center;
  }

  &-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: $dark;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0;
    height: 32px;

    a {
      color: inherit;
    }
  }

  &-label {
    color: $red;
    padding: 0;
    display: block;
    font-size: 26px;
    font-weight: 700;
    margin-top: 0;
  }
}